@model Service.Users.Models.UserRegisterModel

@{

    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V16</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link src="~/dist/images/icons/favicon.ico" />
    <link href="~/dist/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/dist/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/dist/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/dist/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/dist/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/dist/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/dist/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/dist/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/dist/css/util.css" rel="stylesheet" />
    <link href="~/dist/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="limiter">

        <div class="container-login100" style="background-image: url('/dist/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Register
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5" asp-controller="User" asp-action="Register" method="post" role="form">
                    <div class="wrap-input100 validate-input">
                        <input asp-for="Name" class="input100" placeholder="Name">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="Email" class="input100" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="Password" type="password" class="input100" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input asp-for="PasswordRepeat" type="password" class="input100" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/dist/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/dist/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/dist/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/dist/vendor/select2/select2.min.js"></script>
    <script src="~/dist/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/dist/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/dist/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/dist/js/main.js"></script>
</body>
</html>